@media screen and (max-width:768px){
        .nav_footer{
            flex-direction: column;
            align-items: center;

            &_left {
                flex-direction: column;
                padding: 10px 0px;
             &_logo{
                padding: 10px 10px;
             }
                &_address {
                    text-align: center;
                }

            }


        }
    
}